@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif !important;
  box-sizing: border-box;
}




@media screen and (max-width: 1280px) {
  html {}
}


@media screen and (max-width:1440px) {
  html {
    font-size: 0.694vw !important;
  }
}



:root {
  --text-primary: #142349;
  --text-second: #000000;
  --text-white: white;
  --text-title: #252641;
  --text-accent: #7EBCDC;
  --text-link: #3366FF;
  --text-header: #7B86A4;
  --background-blur: #45CDF7;

  --padding-wrapper: 8rem;

  --border-primary: #0E20FF;
  --border-header: #C2D1FF;

  --width-container: 144.4rem;
}

.wrapper-container {
  padding: 0 10rem;

}

.container {
  width: 100%;
  max-width: var(--width-container);
  margin: auto;
}